<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    {{#if meta.title}}
    <title>{{meta.title}} - {{config.name}}</title>
    <meta property="og:title" content="squido documentation - {{meta.title}}" />
    <meta name="twitter:title" content="squido documentation - {{meta.title}}" />
    <meta name="description" content="{{meta.description}}" />
    <meta property="og:description" content="{{meta.description}}" />
    <meta name="twitter:description" content="{{meta.description}}" />
    {{else}}
    {{#if page}}
    <title>{{page}} - {{config.name}}</title>
    <meta property="og:title" content="{{config.name}} - Page: {{page}}" />
    <meta name="twitter:title" content="{{config.name}} - Page: {{page}}" />
    <meta name="description" content="{{config.name}} - Page: {{page}}" />
    <meta property="og:description" content="{{config.name}} - Page: {{page}}" />
    <meta name="twitter:description" content="{{config.name}} - Page: {{page}}" />
    {{/if}}
    {{#if tag}}
    <title>{{tag}} - {{config.name}}</title>
    <meta property="og:title" content="{{config.name}} - Posts containing the tag: {{tag}}" />
    <meta name="twitter:title" content="{{config.name}} - Posts containing the tag: {{tag}}" />
    <meta name="description" content="{{config.name}} - Posts containing the tag: {{tag}}" />
    <meta property="og:description" content="{{config.name}} - Posts containing the tag: {{tag}}" />
    <meta name="twitter:description" content="{{config.name}} - Posts containing the tag: {{tag}}" />
    {{/if}}
    {{/if}}
    <link rel="canonical" href="{{meta.url}}" />
    <link rel="icon" type="image/png" href="{{config.baseUrl}}/content/images/favicon.png" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{meta.url}}" />
    <meta property="og:site_name" content="{{config.name}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="{{meta.url}}" />
    {{#if meta.image}}
    <meta name="twitter:image" content="{{meta.image}}" />
    <meta property="og:image" content="{{meta.image}}" />
    {{else}}
    <meta name="twitter:image" content="{{config.baseUrl}}/content/images/squido-social.png" />
    <meta property="og:image" content="{{config.baseUrl}}/content/images/squido-social.png" />
    {{/if}}
    {{#if config.twitterHandle}}
    <meta name="twitter:site" content="{{config.twitterHandle}}" />
    <meta name="twitter:creator" content="{{config.twitterHandle}}" />
    {{/if}}
    {{#if config.facebookApp}}
    <meta property="fb:app_id" content="{{config.facebookApp}}" />
    {{/if}}
    <link rel="alternate" type="application/rss+xml" href="{{config.baseUrl}}/rss" />
    <link rel="alternate" type="application/atom+xml" href="{{config.baseUrl}}/atom" />
    <link rel="alternate" type="application/json" href="{{config.baseUrl}}/json" />
    <link rel="stylesheet" href="/content/stylesheets/style-output{{config.fileEnv}}.css">
    <link rel="stylesheet" href="/content/stylesheets/syntax{{config.fileEnv}}.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FlexSearch/0.6.22/flexsearch.min.js" integrity="sha512-KxRyF5OGyocY7+bOecICRkukb/F8P8yFO/86j3TZ8zxzL5nieFBJFFk0sd5aj387UfSOcSan4FJ86+ydH50nsw==" crossorigin="anonymous"></script>
    <script src="/content/javascripts/searchdata.js"></script>
    <script src="/content/javascripts/site{{config.fileEnv}}.js"></script>
  </head>
  <body>
    <header class="cmp-navbar flex bg-gray-900 px-4 py-4">
      <a href="/" class="flex-none text-5xl font-bold">
        <span class="brand inline-block">KEEBL</span>
      </a>
      <div class="flex-grow text-right text-4xl">
        <a class="nav-link inline-block align-middle" target="_blank" href="https://www.instagram.com/keebl.me/"><i class="fab fa-instagram-square"></i></a>
      </div>
    </header>
    <div class="container-fluid">
      {{{body}}}
    </div>
  </body>
</html>