<nav id="sidebarMenu" class="col-span-2 px-4 bg-gray-900 sidebar collapse">
  <div class="sticky pt-3">
    <ul class="nav flex flex-col">
      <li class="nav-item mb-2">
        <input type="text" class="form-control ds-input w-full rounded text-white bg-gray-700 p-1.5" id="search-input" placeholder="Search..." aria-label="Search..." autocomplete="off" data-bd-docs-version="5.0" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" style="position: relative; vertical-align: top;">
        <ul id="search-results" class="flex flex-col" style="z-index: 999; position: absolute; width: 100%;"></ul>
      </li>
      {{#each postList}}
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/{{this.permalink}}/">
          {{this.title}}
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
</nav>