@tailwind base;
@tailwind components;
@tailwind utilities;

/* NEW =====*/

html {
    @apply bg-gray-800;
    @apply text-white;
}

h1 {
    @apply text-5xl;
    @apply font-bold;
}

h2 {
    @apply text-4xl;
    @apply font-bold;
}

h3 {
    @apply text-3xl;
    @apply font-bold;
}

h4 {
    @apply text-2xl;
    @apply font-bold;
}

h5 {
    @apply text-xl;
    @apply font-bold;
}

h6 {
    @apply text-lg;
    @apply font-bold;
}

/* PREEXISTING =====*/

a{
    color: #F95A77 !important;
    text-decoration: underline !important;
}

a:hover{
    color: #FF96A9 !important;
    text-decoration: underline !important;
}

.nav-item a {
    text-decoration: none !important;
}

.btn-secondary {
    color: #ffffff !important;
}

.btn-outline-secondary {
    color: #ffffff !important;
    background-color: #F95A77 !important;
    border-color: #F95A77 !important;
}

.btn-outline-secondary:hover {
    color: #ffffff !important;
    background-color: #FF96A9 !important;
    border-color: #FF96A9 !important;
}

.non-link {
    color: #264653 !important;
}

.non-link:hover {
    color: #F95A77 !important;
}

.text-squido {
    color: #FF96A9 !important;
}

.text-squido-highlight {
    color: #ffffff !important;
    background-color: #FF96A9 !important;
}

.search-result-item:hover{
    background-color: #f8f9fa !important;
}

.result-title{
    color: #264653 !important;
}

.sidebar{
    min-height: 100vh;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-info {
    border-left-color: #5bc0de !important;
}
.bd-callout-warning {
    border-left-color: #f0ad4e !important;
}
.bd-callout-danger {
    border-left-color: #d9534f !important;
}
.bd-callout-squido {
    border-left-color: #FF96A9 !important;
}

@media (min-width: 992px){
    .toc{
        position: sticky;
        top: 1rem;
        right: 0;
        z-index: 2;
        height: calc(100vh - 7rem);
        overflow-y: auto;   
    }

    .toc-heading{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .toc ul {
        border-top: 1px solid #dee2e6;
        padding-top: 10px;
        list-style: none;
        padding-left: 0rem;
    }
}
