<div class="grid grid-cols-12">
  {{> sidebar}}
  {{!-- {{#if toc.length}} --}}
  {{#ifCond (objLength toc) '>' 0}}
  <main class="col-span-8 mt-3 px-4">
  {{else}}
  <main class="col-span-10 mt-3 px-4">
  {{/ifCond}}
    {{{body}}}
    {{#if tags}}
    <div class="row">
      <div class="col-md-12 mt-3 mb-3">
        <h5 class="text-muted">Tags:</h5>
        {{#each tags}}
        <a href="/tag/{{this}}/">{{this}}</a> |
        {{/each}}
      </div>
    </div>
  {{/if}}
  </main>
  {{#ifCond (objLength toc) '>' 0}}
  <div class="toc mt-3 col-span-2 d-none d-lg-block d-xl-block">
    <div class="toc-heading">On this page</div>
    <ul>
    {{#each @root.toc}}
      {{#each this}}
        <li>
          <a href="#{{this.id}}">{{this.text}}</a>
        </li>
      {{/each}}
    {{/each}}
    </ul>
  </div>
  {{/ifCond}}
</div>