<div class="row">
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <input type="text" class="form-control ds-input" id="search-input" placeholder="Search docs..." aria-label="Search docs for..." autocomplete="off" data-bd-docs-version="5.0" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" style="position: relative; vertical-align: top;">
          <ul id="search-results" class="list-group" style="z-index: 999; position: absolute; width: 100%;"></ul>
        </li>
        {{#each postList}}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/{{this.permalink}}/">
            {{this.title}}
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </nav>
  <main class="col-md-9 ms-sm-auto col-lg-10 mt-3 px-md-4">
    <h1>Tag: {{tag}}</h1>
    {{#each posts}}
    <div class="col-xs-12 col-sm-12 mb-4 d-flex align-items-stretch">
      <h3>
        <a href="/{{this.permalink}}/">{{this.title}}</a> 
      </h3>
    </div>
    {{/each}}
  </main>
</div>